<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Diary App</title>
</head>

<body>
	<h1>Tell me how you feel</h1>
	<p>自分の気持ちを記録しよう</p>

	<form action="/write" method="POST">
		<label>今日の記録：</label>

		<select name="mood" id="mood">
			<option value="happy">嬉しい</option>
			<option value="relaxed">リラックス</option>
			<option value="sad">悲しい</option>
			<option value="anxious">不安</option>
		</select>

		<input type="text" name="content">

		<button type="submit">登録</button>
	</form>

	<br>

	<a href="/list">→一覧に進む</a>

</body>
</html>
